@font-face {
  font-family: 'icomoon';
  src: url('../fonts/new/icomoon.eot');
  src: url('../fonts/new/icomoon.eot#iefix') format('embedded-opentype'), url('../fonts/new/icomoon.ttf') format('truetype'), url('../fonts/new/icomoon.woff') format('woff'), url('../fonts/new/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*=" icon-"],
[class^="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*.icon-buyer:before {
  content: "\e1200";
}*/
.icon-new-update:before {
  content: "\e1216";
}
.icon-move-to-right:before {
  content: "\e1211";
}
.icon-filter-2:before {
  content: "\e1210";
}
.icon-heart-inactive:before {
  content: "\e1208";
}
.icon-heart-active:before {
  content: "\e1207";
}
// .icon-check:before {
//   content: "\e1204";
// }
.icon-filter:before {
  content: "\e1203";
}