/* buttons */
[class*=" btn-op-"],
[class^="btn-op-"] {
  @include border-radius(2px);
  padding: 0 10px;
  display: inline-block;
  line-height: 34px;
  height: 34px;
  min-width: 100px;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  overflow: visible \9;
  width: auto \9;

  &::before {
    text-shadow: none;
  }

  .icon-arrow-left-page {
    margin-top: -3px;
    font-size: 11px;
  }

  .icon-plus {
    margin-top: -4px;
    font-size: 20px;
  }
  
  .icon-excel{
    margin-top: -3px;
  }

  .icon-bin {
    margin-top: -3px;
    font-size: 18px;
  }

  .icon-delete {
    margin-top: -3px;
    font-size: 20px;
  }

  .icon-attachment,
  .icon-download,
  .icon-receive,
  .icon-return,
  .icon-details,
  .icon-sync-data,
  .icon-return-document,
  .icon-edit,
  .icon-discount {
    margin: -3px 5px 0 0;
  }

  .icon-attachment {
    [class*="noti-"] {
      right: -2px;
      top: -2px;
    }
  }

  &:disabled,
  &[disabled="disabled"],
  &[disabled] {
    color: $color-disable !important;
    background-color: $color-bg-disable !important;
    border:1px solid $color-border-disable !important;
    cursor: not-allowed;
  }
}

.btn-op-default,
a.btn-op-default {
  background-color: $color-white;
  border:1px solid $color-border;
  color: $color-normal;

  &:active,
  &:focus,
  &:visited {
    color: $color-normal;
  }

  &:hover {
    background-color: $color-background;
    border:1px solid $color-sub;
  }

  &.w-auto {
    min-width: 50px;
  }

  &.green {
    background-color: $color-success;
    border:1px solid $color-success;
    color: $color-white;

    &:active {
      background-color: #4F9C20;
      border:1px solid #4F9C20;
    }

    &:focus,
    &:hover {
      background-color: $color-medium-green;
      border:1px solid $color-medium-green;
    }
  }

  &.red {
    background-color: $color-red;
    border:1px solid $color-red;
    color: $color-white;

    &:hover {
      background-color: #D72C22;
      border:1px solid #D72C22;
    }
  }

  &.lightblue {
    background-color: $color-link;
    border:1px solid $color-link;
    color: $color-white;

    &:hover {
      background-color: #0C91E0;
      border:1px solid #0C91E0;
    }
  }

  &.grey {
    background-color: #4E5660;
    border:1px solid #4E5660;
    color: $color-white;

    &:hover {
      background-color: #3B444F;
      border:1px solid #3B444F;
    }
  }

  &.ghost {
    padding: 0 5px;
    min-width: auto;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
    border: 0;
    &:hover {
      background-color: $color-select-hover;
    }
  }

  // for call-to-action
  &.other-action {
    background-color: #E9F1F8;
    border: 1px solid $theme-hover;
    color: $theme-hover;
    i::before {
      color: $theme-hover;
    }

    &:hover {
      background-color: $theme-hover;
      border:1px solid $theme-hover;
      color: $color-white;
      i::before {
        color: $color-white;
      }
    }
  }

  &.add-blue{
    color: $color-link;
    border: none;
    padding: 0;
    min-width: 20px;
    width: 20px;
    background: transparent;
    &:hover, &:active, &:visited{
      color: $color-link;
    }
    i{
      font-size: 20px;
    }
  }

  &.w-max {
    width: 100%;
  }

  .noti-green {
    top: 6px;
    left: 20px;

    &.edit-pr {
      left: 28px;
    }
  }
  .icon-discount{
    top: -1px;
    &~ .noti-green {
      left: 23px;
    }
  }
}

.btn-op-primary,
a.btn-op-primary {
  background-color: $theme-hover;
  border: 1px solid $theme-hover;
  color: $color-white;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: $color-white;
  }

  &:hover {
    background-color: $theme-base;
    border:1px solid $theme-base;
  }

  &.btn-search {
    @include border-left-radius(0);
    width: 36px !important;
    min-width: 0 !important;
    text-align: center;
    padding: 0 7px;

    .icon-search {
      margin-top: -3px;
    }
  }
}

.btn-op-disabled,
a.btn-op-disabled {
  color: $color-disable !important;
  background-color: $color-bg-disable !important;
  border: 1px solid $color-border-disable !important;
  cursor: not-allowed !important;

  &.btn-file-upload > input {
    display: none;
  }
}

.btn-op-loading,
a.btn-op-loading {
  @include background(#fff, '../images/form/spin_grey.gif', no-repeat, 10px, center);
  background-size: 16px 16px;
  padding: 0 10px 0 30px !important;
}

.btn-file-upload,
a.btn-file-upload {
  vertical-align: top;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 10px \9;

  &.btn-be-disabled,
  &.btn-op-disabled {
    [class*=" icon-btn-"],
    [class^="icon-btn-"] {
      opacity: 0.3;
    }

    .icon-btn-excel-grey {
      background-image: url("../images/buttons/excel_grey.png");
      background-image: url("../images/buttons/1x/excel_grey.png") \9;
    }
  }

  input.browse {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 28px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.btn-get-master{
  background-color: #177143;
  border-color: #177143;
  color: #fff;
  &:hover,&:focus,&:active,&:visited{
    background-color: #105833;
    border-color: #105833;
    color: $color-white;
  }
  &:disabled, &[disabled=disabled]{
    background-color: $color-border-row-detail !important;
    border-color: $color-border-row-detail !important;
    color: $color-white !important;
  }
}

.btn-calendar {
  cursor: pointer;
  position: absolute;
  padding: 6px 7px;
  height: 32px;
  // width: 46px;
  // right: 36px;
  // right: 38px \9;
  width: 51px;
  right: 40px;
  right: 42px \9;
  top: 1px;
  border: none;
  background-color: $color-white;
  outline: none;
  text-align: left;
  color: $color-sub;
  .icon-arrow-down-page {
    top: 5px;
    right: 0;
    font-size: 22px;
    position: absolute;
  }
  &:active,
  &:focus,
  &:hover {
    color: $color-info;
  }
}

.btn-browse {
  background-color: $color-white;
  border: 1px solid $color-border;
  color: $color-normal;
  padding: 6px 10px;
  border-radius: 2px;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  i {
      color: $color-sub;
      margin-right: 10px;
  }
}

.form-sub-detail {
  font-size: $font-subtitle;
  color: $color-sub;
  margin-top: 10px;
}