/* theme color */
$theme-base: #1D508D;
$theme-hover: #297CBB; // text link, text/border hover/active
$theme-shade-1: #009EFB; // text link
$theme-shade-2: #EDF1F4; // modal leftmenu, btn2action
$theme-shade-3: #3B444F; // text title