// blue
// $theme-base: #0C4174;
// $theme-hover: #0D5193;
// $theme-shade-1: #317CC4;
// $theme-shade-2: #E6EDF3;
// $theme-shade-3: #063058;

$theme-base: #1D508D;
$theme-hover: #297CBB;
$theme-shade-1: #009EFB;
$theme-shade-2: #EDF1F4;
$theme-shade-3: #3B444F;