// green
// $theme-base: #086873;
// $theme-hover: #00877D;
// $theme-shade-1: #18C29C;
// $theme-shade-2: #B7ECE1;
// $theme-shade-3: #07535C;
$theme-base: #008C46;
$theme-hover: #4CAE7D;
$theme-shade-1: #10B160;
$theme-shade-2: #C6EDD9;
$theme-shade-3: #001646;