/*font set*/
$font-family: arial,sans-serif;
$font-size-xxs: 10px;
$font-size-xs: 11px;
$font-subtitle: 12px;
$font-normal: 13px;
$font-menu: 14px;
$font-heading: 18px;
$font-pagetitle: 20px;
$font-special: 22px;
$font-size-xxl: 26px;
$line-height: 1.45em;