@media (max-width: $responsive-ipad-h) {
    .box-row-col{
        .col-divided-sm-full{
            width: 100% !important;
            float: none !important;
        }
        .col-divided-sm-2{
            width: calc(100% / 2) !important;
        }
    }
    .col-ninv-num.has-filter{
        min-width: 150px;
    }
    .display-2col-wrap{
        .display-inner{
            min-width: unset;
        }
        .display-content-left{
            width: calc(100% - 230px);
        }
        .display-content-right{
            width: 215px;

            &.sticky{
                position: static;
            }
        }
        .search-modal-w-date{
            float: left;
        }
    }
}

@media (max-width: $responsive-ipad-v) {
    .row-table{
        .col-table{
            display: block;
        }
    }
    .col-ninv-sup-buyer,
    .col-ninv-supplier,
    .col-ninv-status{
        min-width: 130px;
        max-width: 130px;
    }
    .table-bl-datial{
        .col-bl-220{
            min-width: 170px;
        }
    }
    .textarea-approval-note{
        width: 100%;
    }
    .row-flex{
        .col-md-4{
            width: 33.33%;
        }
        .col-md-6{
            width: 50%;
        }
        .col-md-8{
            width: 66.66%;
        }
    }
    .newline-md{
        display: block;
        margin-top: 5px;
    }
}

@media (max-width: $responsive-mobile-h) {
    .scan-qr-code{
        display: block;
    }
    .row-flex{
        .col-sm-4{
            width: 33.33%;
        }
        .col-sm-6{
            width: 50%;
        }
        .col-sm-8{
            width: 66.66%;
        }
        .col-sm-12{
            width: 100%;
        }
    }
    .col-ninv-no{
        min-width: 25px;
    }
    .col-ninv-num.has-filter{
        min-width: 140px;
    }
    .table-bl-datial{
        th{
            &:first-child, &:first-child:last-child{
                padding: 10px 10px 10px 20px;
            }
            &:last-child{
                padding: 10px 20px 10px 10px;
            }
        }
        td{
            height: unset;
            &:first-child, &:first-child:last-child{
                padding: 10px 10px 10px 20px;
            }
            &:last-child{
                padding: 10px 20px 10px 10px;
            }
        }
    }
    .display-2col-wrap {
        .display-content-left{
            width: 50%;
            .search-modal-w-date{
                width: 300px;
            }
            .op-pagination{
                .pull-left,.pull-right{
                    float: none!important;
                }
                .page-ctrl {
                    width: 25px;
                }
            }
        }
        .display-content-right{
            width: 50%;
        }
    }
    .action-on-tab{
        display: none;
    }
}

@media (max-width: $responsive-mobile-v) {
    .col-ninv-num.has-filter{
        min-width: 130px;
    }
}